---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<section class="container full-screen flex items-center justify-center">
  <h2 class="uppercase text">{text}</h2>
</section>

<style>
  .text {
    font-size: 80px;
    max-width: 80vw;
    text-align: center;
    text-wrap: balance;
  }
</style>
